.desktop {
    display: flex;
    align-items: center;
    position: relative;
    padding: 60px 0;
    margin-top: 40px;
    height: 500px;
    margin-bottom: 50px;

    .image {
        position: absolute;
        right: 0;
        width: 700px;

        @include respond(laptop1280) {
            width: 620px;
        }

        @include respond(laptop1024) {
            width: 520px;
        }
    }

    .info {
        display: flex;
        flex-direction: column;
        gap: 40px;
        z-index: 10;

        @include respond(laptop1024) {
            gap: 32px;
        }

        h1 {
            @include involve_700_96;
            color: var(--black);

            span {
                color: var(--accent_green);
            }
        }

        p {
            @include gilroy_300_24;
        }
    }

    @include respond(tablet768) {
        display: none;
    }
}

.mobile {
    display: none;

    @include respond(tablet768) {
        display: block;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 20px;
        margin-bottom: 50px;
    }

    .overlay {
        background-color: #0404048f;
        padding: 40px 24px;
        width: 100%;
        border-radius: 16px;

        display: flex;
        flex-direction: column;
        gap: 24px;

        h1 {
            @include involve_700_48;
            color: var(--white);

            span {
                color: var(--accent_green);
            }
        }

        p {
            @include gilroy_300_18;
            color: var(--white);
        }
    }
}
