.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.modal {
    background-color: #fff;
    padding: 2rem;
    border-radius: 12px;
    max-width: 650px;
    width: 90%;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2 {
        margin-bottom: 0.5rem;
        @include involve_700_32;
    }

    p {
        margin-bottom: 1.5rem;
        font-size: 0.95rem;
        color: #555;
    }
}

.close {
    position: absolute;
    top: 10px;
    right: 14px;
    border: none;
    font-size: 1.4rem;
    cursor: pointer;
    color: #888;
    background: none;

    &:hover {
        color: #000;
        background: none;
    }
}
