button {
    border-radius: 5px;
    padding: 8px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: var(--white);
    background: var(--accent_green);
    @include transition;
    @include involve_500_16;

    &:hover {
        background: var(--black_green);
    }

    &.xs {
        padding: 4px 8px;
        @include involve_400_14;
    }

    &.xxs {
        padding: 0;
        background: none;
    }

    &.ml {
        padding: 10px 24px;
        @include involve_600_20;

        @include respond(mobile640) {
            padding: 14px 18px;
        }
    }

    &.l {
        padding: 20px 24px;
        border-radius: 10px;
        @include involve_600_20;

        @include respond(laptop1024) {
            padding: 18px 22px;
        }
        @include respond(mobile640) {
            padding: 14px 18px;
        }
    }

    &:disabled {
        opacity: 0.6;
        cursor: not-allowed;
    }
}
