.root {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 50px 0;
    position: relative;

    .bg {
        position: absolute;
        top: 220px;
        left: 200px;
    }

    .title {
        align-self: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        position: relative;
        color: var(--black);
        width: max-content;

        h2 {
            z-index: 10;
        }

        p {
            @include involve_400_20;
            color: var(--accent_green);
        }

        &::before {
            content: "";
            position: absolute;
            left: -20px;
            top: 0;
            width: 65px;
            height: 65px;
            border-radius: 50%;
            background: var(--light_green);

            @include respond(laptop1280) {
                left: 0px;
            }
        }
    }

    .features {
        z-index: 10;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 40px;
    }
}
