.footer {
    background: var(--black);
    padding: 80px 0;
    color: var(--white);

    .footer__inner {
        display: flex;
        justify-content: space-between;

        @include respond(tablet768) {
            flex-direction: column;
            align-items: flex-start;
            gap: 42px;
        }

        .logo {
            display: flex;
            align-items: start;
            gap: 12px;
            @include involve_700_20;
            color: var(--accent_green);
        }

        .links,
        .contacts {
            display: flex;
            flex-direction: column;
            gap: 12px;

            h4 {
                @include involve_600_20;
            }

            p {
                span {
                    @include gilroy_300_16;
                }
            }

            .icon {
                display: flex;
                gap: 12px;
                align-items: flex-start;
                padding-bottom: 4px;
            }
        }

        .links {
            width: 10%;
            @include respond(tablet768) {
                width: 100%;
            }
        }

        .contacts {
            width: 20%;
            @include respond(tablet768) {
                width: 100%;
            }
        }

        .bot {
            display: flex;
            flex-direction: column;
            gap: 8px;
            width: 35%;
            @include respond(tablet768) {
                width: 100%;
            }

            h3 {
                @include involve_700_20;
            }

            p {
                width: 100%;
                margin-bottom: 20px;
            }
        }
    }
    a {
        @include transition;
    }

    a:hover {
        color: var(--accent_green);
    }
}
